body{
  margin: 0;
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Piedra', cursive;
  font-size: 90px;
}

h2{
  font-family: 'Lato',cursive;
  font-size: 2.5rem;
}

.bottom-container{

}

.bottom-cloud{
  position: absolute;
  left:600px;
  bottom:300px;
}

.middle-container{

}

.pro{
  text-decoration: underline;
}

.top-container{
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}

.top-cloud{
  position: absolute;
  right:600px;
  top:50px;
}
